<h1>Create a New Restaurant</h1>

<%= simple_form_for(@restaurant) do |form| %>
  <% if @restaurant.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :address %>
  <%= form.input :phone_number, input_html: { placeholder: 'e.g., +49 123 456 7890' } %>
  <%= form.input :category, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian'], prompt: 'Select a category' %>

  <div>
    <%= form.submit "Create Restaurant", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Restaurants', restaurants_path %>